  
<form class="form" action="/fruits/edit/{{id}}" method="post">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
  
  <label for="family" class="form-item">
    Family:
    <input type="text" name="family" value="{{family}}">
  </label>
  
  <label for="fact" class="form-item">
    Fact:
    <input type="text" name="fact" value="{{fact}}">
  </label>
  
  
  
  <input class="submit" type="submit" name="" value="Submit">
</form>