<h1>this will show individual fruit</h1>
<div class="fruit">
    <img class="img-circle" src="{{image}}" alt="{{name}}">
    <h2>{{name}}</h2>
    <div class="info">
        <div>Family: {{family}}</div>
        <div>Fact: {{fact}}</div>
    </div>
    <a href="/fruits/edit/{{id}}" class="edit">Edit</a>
</div>